.soportes .product-tag, .soportes .product-detail, .soportes .l-i-icon{
    background-color: #4aa3df !important;
}
.miscelaneos .product-tag, .miscelaneos .product-detail, .miscelaneos .l-i-icon {
    background-color: #1abc9c !important;
}
.machetas .product-tag, .machetas .product-detail, .machetas .l-i-icon {
    background-color: #2ecc71 !important;
}
.poleas-y-tensores .product-tag, .poleas-y-tensores .product-detail, .poleas-y-tensores .l-i-icon {
    background-color: #9b59b6 !important;
}
.tornillos-estabilizadores .product-tag, .tornillos-estabilizadores .product-detail, .tornillos-estabilizadores .l-i-icon {
    background-color: #f1c40f !important;
}
.equipo-pesado .product-tag, .equipo-pesado .product-detail, .equipo-pesado .l-i-icon {
    background-color: #e74c3c !important;
}
.bases .product-tag, .bases .product-detail,.bases .l-i-icon {
    background-color: #e67e22 !important;
}
.equipo-original-oem .product-tag, .equipo-original-oem .product-detail, .equipo-original-oem .l-i-icon {
    background-color: #999 !important;
}
.bujes-para-suspension .product-tag, .bujes-para-suspension .product-detail, .bujes-para-suspension .l-i-icon {
    background-color: #2c3e50 !important;
}


.product_cat-equipo-original-oem .add_to_cart_button, .product_cat-equipo-original-oem .single_add_to_cart_button, .product_cat-equipo-original-oem .search-item-detail, .product_cat-equipo-original-oem .product-tag, .miscelaneos .l-i-icon {
    background-color: #1abc9c;
}
