
RewriteEngine on
RewriteCond %{HTTP_HOST} ^api\.soportesstar\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.api\.soportesstar\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/soportesstar\.com\/api\/" [R=301,L]

